/** Resets
*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: 20px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
/** Site Wrapper
*/
.wrapper {
	margin: 1rem 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
	.main {
		margin: 0 auto;
		width: 90%;
	}
}
/** Nav
*/
.nav {
	background-color: #000;
	color: #fff;
	margin: 0 -1rem;
	padding: 1rem;
}
.nav__heading {
	font-size: 1rem;
	margin: 0 0 .25rem 0;
	text-align: center;
}
.nav__ul,
.nav__li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav__link:link,
.nav__link:visited,
.nav__link:active {
	background-color: #000;
	color: #fff;
	display: block;
	padding: .5rem;
	text-decoration: none;
	transition: background-color .5s, color .5s;
}
.nav__link:focus,
.nav__link:hover {
	background-color: #fff;
	color: #000;
}
@media screen and (min-width: 481px) {
	.nav {
		text-align: center;
	}
	.nav__li {
		display: inline-block;
	}
	.nav__link:link,
	.nav__link:visited,
	.nav__link:active {
		display: inline-block;
		padding: .5rem;
	}
}
/** Main
*/
@media screen and (min-width: 1200px) {
	.main {
		margin-left: auto;
		margin-right: auto;
		max-width: 1100px;
	}
}
/** Footer
*/
.footer {
	background-color: #000;
	color: #fff;
	margin: 1rem -1rem 0;
	padding: 1rem;
}
/** Sections
*/
@media screen and (min-width: 736px) {
	.section {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.col {
		-webkit-flex: 0 0 100%;
		flex: 0 0 100%;
	}
	.col--half {
		-webkit-flex: 0 0 45%;
		flex: 0 0 45%;
	}
}
/** Links
*/
.link:link,
.link:visited,
.link:active {
	border-bottom: 1px solid #000;
	color: #900;
	text-decoration: none;
	transition: border-color .5s, color .5s;
}
.link:focus,
.link:hover {
	color: #666;
	border-color: #900;
}
/** Buttons
*/
.button {
	background-color: #900;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	padding: .5rem;
	transition: background-color .5s;
}
.button:focus,
.button:hover {
	background-color: #666;
}
/** Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Handlee', cursive;
}
/** Images
*/
img {
	max-height: calc(100vh - 4rem);
	max-width: 100%;
}
figure {
	border: .25rem solid #000;
	margin: 0;
	padding: 0;
	display: inline-block;
}
figcaption {
	background: #666;
	color: #fff;
	padding: .25rem;
}
/** Tables
*/
table,
thead,
tbody,
th,
td,
tr {
	display: block; /* at larger sizes revert to default sizes */
}
thead {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
tr {
	border: .25rem solid #000;
	border-bottom: none;
}
tr:last-of-type {
	border-bottom: .25rem solid #000;
}
tr:nth-of-type(even) {
	background-color: #ccc;
}
td {
	border: none;
	border-bottom: 1px solid #666;
	padding: .25rem .25rem .25rem 50%;
	position: relative;
	transition: background-color .5s;
}
td:focus,
td:hover {
	background-color: #ff9;
}
td::before {
	left: .25rem;
	padding: 0 .5rem 0 0;
	position: absolute;
	top: .25rem;
	white-space: nowrap;
	width: 45%;
}
td:nth-of-type(1)::before {
	content: "Heading 1:"
}
td:nth-of-type(2)::before {
	content: "Heading 2:"
}
td:nth-of-type(3)::before {
	content: "Heading 3:"
}
@media screen and (min-width: 481px) {
	table {
		display: table;
		border-collapse: collapse;
	}
	thead {
		display: table-header-group;
	}
	tbody {
		display: table-row-group;
	}
	tr {
		display: table-row;
	}
	th,
	td {
		display: table-cell;
		padding: .25rem;
		border: none;
	}
	td:nth-of-type(even)::before,
	td:nth-of-type(odd)::before {
		content: "";
		width: 0;
		padding: 0;
	}
	thead {
		position: relative;
		height: auto;
		width: auto;
		overflow: auto;
		clip: auto;
	}
}
/** Modal
*/
.overlay {
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}
.overlay--hidden {
	display: none;
}
.modal {
	background-color: #fff;
	border: 2rem solid #000;
	display: block;
	height: 90vh;
	left: 5vw;
	position: absolute;
	top: 5vh;
	width: 90vw;
}
.modal--hidden {
	display: none;
}
.modal__content {
	display: none;
	padding: 1rem;
}
.modal__content--visible {
	display: block;
}
.modal__image {
	margin: -1rem;
	max-height: 50%;
	max-width: 50%;
}
@media screen and (min-height: 768px) and (min-width: 768px) {
	.modal {
		height: 50vh;
		left: 25vw;
		top: 25vh;
		width: 50vw;
	}
}
/** Global Overrides
*/
.screenreader {
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}